
hmpps-auth:
    url: http://localhost:9090/auth
G1-api:
  url: http://localhost:9001
G2-api:
  url: http://localhost:9002
G3-api:
  url: http://localhost:9003

#document-storage:
#    url: https://document-api-dev.hmpps.service.justice.gov.uk/

application:
  health:
    dev-portal:
      url: https://developer-portal.hmpps.service.justice.gov.uk/components/%s/environment/dev
  notify:
    # test key which doesn't send emails, but is automatically accepted by notify
    key: testkey-992308b2-1e8f-4667-816b-8bdde781a4ac-9c211cf4-96d1-4c30-848b-8f172bca0b41

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sar-db
    username: admin
    password: admin_password

  flyway:
    enabled: true
    locations: classpath:db/migration,db/migration_{vendor},db/data/dev

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${hmpps-auth.url}/.well-known/jwks.json

      client:
        provider:
          hmpps-auth:
            token-uri: ${hmpps-auth.url}/oauth/token

        registration:
          sar-client:
            provider: hmpps-auth
            client-id: "hmpps-subject-access-request"
            client-secret: "clientsecret"
            authorization-grant-type: client_credentials
            scope: read