
hmpps-auth:
    url: http://localhost:9090/auth
G1-api:
  url: http://localhost:9001
G2-api:
  url: http://localhost:9002
G3-api:
  url: http://localhost:9003

#document-storage:
#    url: https://document-api-dev.hmpps.service.justice.gov.uk/

application:
  health:
    dev-portal:
      url: https://developer-portal.hmpps.service.justice.gov.uk/components/%s/environment/dev
  notify:
    # test key which doesn't send emails, but is automatically accepted by notify
    key: testkey-992308b2-1e8f-4667-816b-8bdde781a4ac-9c211cf4-96d1-4c30-848b-8f172bca0b41
  template-version-health:
    enabled: true
    frequency: ${TEMPLATE_VERSION_HEALTH_FREQUENCY:180000}
    lock-max: ${TEMPLATE_VERSION_HEALTH_MAX_LOCK:PT2M30S}
  alerts:
    template-health:
      enabled: ${APPLICATION_ALERTS_TEMPLATE_HEALTH_ENABLED:true}
      alert-interval-ms: ${TEMPLATE_VERSION_HEALTH_ALERT_INTERVAL:300000}
      lock-max: ${TEMPLATE_VERSION_HEALTH_ALERT_MAX_LOCK:PT4M30S}
      unhealthy-threshold-minutes: ${TEMPLATE_VERSION_HEALTH_ALERT_UNHEALTHY_THRESHOLD:5}
      last-notified-threshold-minutes: ${TEMPLATE_VERSION_HEALTH_ALERT_LAST_NOTIFIED_THRESHOLD:5}

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sar-db
    username: admin
    password: admin_password

  flyway:
    enabled: true
    locations: classpath:db/migration,db/migration_{vendor},db/data/dev

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${hmpps-auth.url}/.well-known/jwks.json

      client:
        provider:
          hmpps-auth:
            token-uri: ${hmpps-auth.url}/oauth/token

        registration:
          sar-client:
            provider: hmpps-auth
            client-id: "hmpps-subject-access-request"
            client-secret: "clientsecret"
            authorization-grant-type: client_credentials
            scope: read

slack:
  bot:
    noop-enabled: true
    auth: "some_value"
    template-error-recipients: "some_value"
    dev-help-channel-id: "some_value"