---
generic-service:
  nameOverride: hmpps-subject-access-request-api
  serviceAccountName: hmpps-subject-access-request
  productId: "DPS083"

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-subject-access-request-api
    tag: app_version    # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local    # override per environment
    tlsSecretName: hmpps-subject-access-request-api-cert

  # Environment variables to load into the deployment
  env:
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-subject-access-request-api:
      APPLICATION_APPINSIGHTS_SUBSCRIPTIONID: "APPLICATION_APPINSIGHTS_SUBSCRIPTIONID"
      SENTRY_DSN: "SENTRY_DSN"
      APPLICATION_NOTIFY_KEY: "APPLICATION_NOTIFY_KEY"
      SAR_SLACK_BOT_AUTH_TOKEN: "SAR_SLACK_BOT_AUTH_TOKEN"
      DEV_HELP_SLACK_CHANNEL_ID: "DEV_HELP_SLACK_CHANNEL_ID"
      TEMPLATE_ALERT_SLACK_CHANNEL_IDS: "TEMPLATE_ALERT_SLACK_CHANNEL_IDS"
    hmpps-subject-access-request-api-client-creds:
      API_CLIENT_ID: "API_CLIENT_ID"
      API_CLIENT_SECRET: "API_CLIENT_SECRET"
    hmpps-subject-access-request-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"

    rds-instance-output:
      DATABASE_ENDPOINT: "rds_instance_endpoint"
      DATABASE_NAME: "database_name"
      DATABASE_USERNAME: "database_username"
      DATABASE_PASSWORD: "database_password"

    service-urls:
      G1_API_URL: "G1_API_URL"
      G2_API_URL: "G2_API_URL"
      G3_API_URL: "G3_API_URL"

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-subject-access-request-api
