---
# Per environment values which override defaults in hmpps-subject-access-request-api/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: subject-access-request-api-dev.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: "applicationinsights.dev.json"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    DOCUMENT_STORAGE_URL: "https://document-api-dev.hmpps.service.justice.gov.uk"
    EXTERNAL_USERS_API_URL: "https://external-users-api-dev.hmpps.service.justice.gov.uk"
    NOMIS_USER_ROLES_API_URL: "https://nomis-user-roles-api-dev.prison.service.justice.gov.uk"
    SAR_AND_DELIUS_API_URL: "https://subject-access-requests-and-delius-dev.hmpps.service.justice.gov.uk"
    LOCATIONS_API_URL: "https://locations-inside-prison-api-dev.hmpps.service.justice.gov.uk"
    NOMIS_MAPPINGS_API_URL: "https://nomis-sync-prisoner-mapping-dev.hmpps.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api-dev.hmpps.service.justice.gov.uk"
    APPLICATION_HEALTH_DEV_PORTAL_URL: "https://developer-portal.hmpps.service.justice.gov.uk/components/%s/environment/dev"
    APPLICATION_APPINSIGHTS_RESOURCEGROUP: nomisapi-t3-rg
    APPLICATION_APPINSIGHTS_INSTANCENAME: nomisapi-t3
    SENTRY_ENV: dev
    TEMPLATE_VERSION_HEALTH_FREQUENCY: 300000
    TEMPLATE_VERSION_HEALTH_MAX_LOCK: PT3M
    TEMPLATE_VERSION_HEALTH_ALERT_INTERVAL: 300000
    TEMPLATE_VERSION_HEALTH_ALERT_MAX_LOCK: PT3M
    TEMPLATE_VERSION_HEALTH_ALERT_UNHEALTHY_THRESHOLD: 10
    TEMPLATE_VERSION_HEALTH_ALERT_LAST_NOTIFIED_THRESHOLD: 120
    APPLICATION_TEMPLATE_VERSION_HEALTH_ENABLED: true
    APPLICATION_ALERTS_TEMPLATE_HEALTH_ENABLED: true

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps_tech_non_prod
